html,body{
    margin :0;
    padding: 0;
    font-family: "Trirong", serif;
    font-weight: 550;
}
html{
    height: 100vh;
}
.list-item{
    padding: 5px;
}
body{
    height: 100%;
    display: flex;
    justify-content: center;
}
#big-div{
    display: inline;
    margin-top: 40px;
    
}

#expense-form{
    border: 4px solid rgba(0, 114, 176, 0.696);
    border-radius: 7px;
    text-align: center;
    margin: auto;
    padding: 10px;
}
.db{
    margin-left: 3px;
    border-radius: 7px;
}
#add-expense-button{
    font-family: "Trirong", serif;
    border-radius: 5px;
    font-weight: 600;
}
#expense-list{
    list-style-type: none;
    list-style:circle;
}
