@import url('https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple');


html,
body {
    margin: 0;
    padding: 0;
    font-family: "Trirong", serif;
    font-weight: 550;
}

html {
    height: 100vh;
}

#logout-div{
    display: flex;
    justify-content: end;
    padding-right: 7px;
    padding: 10px;
}
#logout-link{
    text-decoration: none;
    
}


#expense-form-div{
    /* border : 3px solid black; */
}

#expense-form{
    border: 4px solid rgba(0, 114, 176, 0.696);
    border-radius: 7px;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    padding: 10px;
    width: max-content;
}

#display-div{
    /* border: 3px solid green; */
}
#expense-list {
    list-style-type: none;
    list-style: circle;

}

.db {
    margin-left: 3px;
    border-radius: 7px;
}

#add-expense-button {
    font-family: "Trirong", serif;
    border-radius: 5px;
    font-weight: 600;
}
#display-div{
    display: flex;
    justify-content: center;
}

#rzp-button{
    font-family: "Trirong", serif;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    padding: 0;
    margin-right: 10px;
    background-color: white;
    color: gold;
    align-self:flex-start;
}
#rzp-button:hover{
    text-decoration: underline;
}
#if-premium{
    margin-right: 10px;
    color:black;
    
}