body{
    height: 80vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
html,body{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

h3{
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
input{
    border-radius: 3px;
    border: 1px solid black;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

#signup-form{
    border: 3px solid rgb(0, 176, 176);
    border-radius: 7px;
    width: auto;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: white
}
#signup-button{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    background-color: rgb(198, 198, 198);
}

#signup-button:hover{
    cursor: pointer;
   
}
#error-div{
    text-align: center;
    color: rgb(237, 14, 14);
}
