<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="all_chats"></div>
    <form
      action="/chat"
      method="post"
      onsubmit="document.getElementById('username').value = localStorage.getItem('username')"
    >
      <input type="hidden" id="username" name="name" />
      <input
        type="text"
        name="chat"
        id="chat"
        placeholder="message"
      /><br /><br />
      <button type="submit">Send</button>
    </form>

  </body>
</html>
