<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
  </head>
  <body>
    <main>
      <h3>Create New Account</h3>
      <form onsubmit="signupForm(event)" id="signup-form">
        <label for="username"></label>
        <input
          type="text"
          name="username"
          required
          placeholder="Username"
        /><br /><br />
        <label for="email"></label>
        <input
          type="email"
          name="email"
          required
          placeholder="Email"
        /><br /><br />
        <label for="password"></label>
        <input
          type="password"
          name="password"
          id="password"
          required
          placeholder="Password"
        /><br /><br />
        <button type="submit" id="signup-button">Sign Up</button>
      </form>
    </main>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

  <script src="../public/js/script.js"></script>
</html>
